@{
    ViewData["Title"] = "Accueil";
}

@section Scripts {
    <script>
        $(document).ready(() => {
            $("#ddlSearch").keyup(ddlSearch_onKeyUp);
        });

        function ddlSearch_onKeyUp() {
            let lstResults = $("#lstResults");
            let term = $("#ddlSearch").val();

            if (term !== null && term.length > 1) {
                $.get(`people/SearchPeopleByNames/${encodeURIComponent(term)}`, (people) => {
                    lstResults.children().remove();

                    if (people !== null) {
                        for (let person of people){
                            displayForRedirect(person);
                        }
                    }
                });
            }
        }

        function displayForRedirect(person) {
            let anchor = document.createElement("a");

            anchor.innerText = `${person.firstName} ${person.lastName}`;
            anchor.href= `People/PersonnelFile/${person.id}`;
            $(anchor).addClass("list-group-item");
            $(anchor).addClass("list-group-item-action");
            lstResults.append(anchor);
        }
    </script>
}

<h1>@ViewData["Title"]</h1>


<div class="row">
    <div class="col-sm-6 col-lg-4">
        <div class="form-group">
            <label for="ddlSearch" class="">Recherche</label>
            <input type="text" id="ddlSearch" class="form-control" />
            <div class="list-group" id="lstResults">    
            </div>
        </div>
    </div>
</div>


