@model JeComplete.Models.HomeIndexModel
@{
    ViewData["Title"] = "Accueil";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-sm-6 col-lg-4">
        <div class="form-group">
            <label for="ddlSearch" class="">Recherche</label>
                <partial name="~/Views/Shared/_Autocomplete.cshtml" for="Autocomplete" />
            </div>
        </div>
    </div>
</div>


