@model JeComplete.Models.Home.IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<ul>
    @foreach (var person in Model.PeopleList)
    {
        <li>
            @person.FirstName @person.LastName
        </li>
    }
</ul>
